<loaders-css [loader]="'square-spin'" *ngIf="isLoading" [loaderClass]="'my-loader'"></loaders-css>
<div class="card" *ngIf="!isLoading">
  <div class="header">
      <h4 class="title">Upload Cards</h4>
  </div>
  <div class="content">
      <form name="campaignData" #campaignDataForm="ngForm" novalidate >
          <div class="row">    
            <div class="col-md-12 fileupload-main">  
                <div class="input-group image-preview">
                    <input type="text" class="form-control image-preview-filename" name="filename" [(ngModel)]='filename'> 
                    <span class="input-group-btn">
                        <div class="btn btn-default fileupload-input">
                            <span><i class="fa fa-folder-open" aria-hidden="true"></i></span>
                            <span class="fileupload-input-title">Choose file</span>
                            <input type="file" name="input-file-preview" (change)="updated($event)"/>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="header">
            <ul class="nav nav-tabs">
                <li class="title" [class.active]="showLoadedData"><a (click)="changeData()">Loaded</a></li>
                <li class="title" [class.active]="!showLoadedData"><a (click)="changeData()">Rejected</a></li>
            </ul>
            <!-- <h4 class="title">Loaded</h4>
            <h4 class="title">Loaded</h4> -->
        </div>
        <div class="content table-responsive table-full-width" *ngIf="showLoadedData">
            <table class="table table-striped">
                <thead>
                    <th>Card Id</th>
                    <th>Email</th>
                    <th>Customer Id</th>
                </thead>
                <tbody>
                    <tr *ngFor="let loadedCard of loadedCards">
                      <td>{{loadedCard.idCard}}</td>
                      <td>{{loadedCard.email}}</td>
                      <td>{{loadedCard.idCustomer}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content table-responsive table-full-width" *ngIf="!showLoadedData">
            <table class="table table-striped">
                <thead>
                    <th>Card Id</th>
                    <th>Email</th>
                    <th>Customer Id</th>
                </thead>
                <tbody>
                    <tr *ngFor="let loadedCard of loadedCards">
                        <td>{{loadedCard.idCard}}</td>
                        <td>{{loadedCard.email}}</td>
                        <td>{{loadedCard.idCustomer}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
      </form>
  </div>
</div>